@use "../utils/variables" as *;
.hero {
  background: url("../images/mainpage/hero-bg.png") center / cover no-repeat linear-gradient(to right,rgba(47, 48, 58, 0.4));
  background-image: linear-gradient(to right,rgba(23, 16, 16, 0.6));
  padding-top: 200px;
  padding-bottom: 200px;


&-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

&__title {
  font-size: 44px;
  font-weight: 900;
  color: $aboutus;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

&__button {
  padding: 10px 32px;
  background-color: $colorBrand;
  color: $aboutus;
  margin: 0 auto;
  border-width: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  box-shadow: 0px 4px 4px 0px $buttonShadow;

}

/* Hero Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modalFon;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 20px;
  background-color: $modalBg;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 12px;
}

.modal-form {
  gap: 10px;
  padding-bottom: 20px;
}
}
