html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: none;
}
:root {
  --header-background: rgba(236, 236, 236, 1);
  --footer-text: rgba(255, 255, 255, 0.6);
  --footer-background: rgba(47, 48, 58, 1);
  --main-color: rgba(33, 150, 243, 1);
  --light-txt-color: rgba(255, 255, 255, 1);
  --background-team: rgba(245, 244, 250, 1);
  --desc-color: rgba(117, 117, 117, 1);
  --span-color: rgba(0, 0, 0, 1);
  --titles-color: rgba(33, 33, 33, 1);
  --adv-item-border: rgba(238, 238, 238, 1);
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --icon-color: rgba(175, 177, 184, 1);
  --main-color-hover: rgba(24, 140, 232, 1);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-txt-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title {
  text-align: center;
  color: var(--titles-color);
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 50px;
}



.container {
  width: 1170px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--light-txt-color);
  border-bottom: 1px solid;
  border-bottom-color: var(--adv-item-border);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
}

.header-logo {
  color: var(--main-color);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
}

.header-logo-span {
  color: var(--span-color);
}

.header-link:hover,
.header-nav-link:hover {
  color: var(--main-color);
}

.header-nav-link {
  color: var(--titles-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.header-list,
.header-nav-list {
  display: flex;
  gap: 30px;
}

.current-page,
.portfolio-current-page {
  color: var(--main-color);
  position: relative;
}

.current-page:hover::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 2px;
  top: 43px;
  background-color: var(--main-color);
  width: 48px;
  height: 4px;
  left: 0;
}

.portfolio-current-page:hover::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  border-radius: 2px;
  top: 43px;
  background-color: var(--main-color);
  width: 78px;
  height: 4px;
}

.header-icon {
  fill: var(--desc-color);
  width: 16px;
  height: 12px;
}

.header-icon:nth-child(2) {
  width: 10px;
  height: 16px;
}

.header-link:hover .header-icon {
  fill: var(--main-color);
}

.header-link:hover {
  color: var(--main-color);
}

.header-link {
  color: var(--desc-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

/*! H E A D E R   E N D */

.hero {
  background: linear-gradient(to right,
      var(--hero-overlay),
      var(--hero-overlay)),
    url(../images/main-page/hero-bg.jpg) center / cover no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-color);
  padding-bottom: 30px;
}

.hero-button {
  padding: 10px 32px;
  background-color: var(--main-color);
  color: var(--light-txt-color);
  border-width: 0;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 30px;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: var(--font-family);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--light-txt-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}


.hero-modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0);
  padding: 6px;
  border-radius: 100%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: var(--span-color);
}

.modal-close-icon:hover {
  fill: var(--main-color);
}

.hero-modal-title {
  font-size: 20px;
  padding-bottom: 12px;
  position: relative;
}

.hero-modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--desc-color);
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.01em;
  position: relative;
}

.hero-modal-input {
  position: relative;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
}

.hero-modal-label:hover .hero-modal-icon {
  fill: var(--main-color);
}

.hero-modal-icon {
  fill: var(--titles-color);
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.hero-modal-input:focus {
  border-color: var(--main-color);
  outline: none;
}

.hero-modal-input::before {
  content: '';
  position: absolute;
  left: 12px;
}

.hero-modal-textarea {
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
}

.hero-modal-textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

.hero-modal-textarea:hover {
  border-color: var(--main-color);
}

.hero-modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
  font-family: var(--font-family);
}

.hero-modal-input:hover {
  border-color: var(--main-color);
}

.hero-modal-input:hover .hero-modal-label-icon {
  fill: var(--main-color);
}

.hero-modal-wrapper {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-modal-checkbox {
  border: 2px solid;
  border-color: var(--titles-color);
  padding: 4px 2px 3px 3px;
  background-color: var(--main-color);
}

.hero-modal-desc {
  font-size: 14px;
  line-height: 23px;
  color: var(--desc-color);
}

.hero-modal-desc-link {
  color: var(--main-color);
  text-decoration: underline;
}

.hero-modal-btn {
  background-color: var(--main-color);
  border-radius: 4px;
  border: 0;
  padding: 10px 52px;
  color: var(--light-txt-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  font-weight: 700;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: var(--font-family);
  margin: 0 auto;
}

.hero-modal-btn:hover {
  background-color: var(--main-color-hover);
}

/*! H E R O  E N D */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-container {
  display: flex;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-title::before {
  content: '';
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
}

.antena::before {
  background-image: url(../images/main-page/antenna.png);
  background-color: var(--background-team);
}

.astronaut::before {
  background-image: url(../images/main-page/astronaut.png);
  background-color: var(--background-team);
}

.diagrama::before {
  background-image: url(../images/main-page/diagram.png);
  background-color: var(--background-team);
}

.clock::before {
  background-image: url(../images/main-page/clock.png);
  background-color: var(--background-team);
}

.benefits-title {
  color: var(--titles-color);
  font-weight: 700;

  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.benefits-desc {
  color: var(--desc-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* !B E N E F I T S  E N D */

.doing {
  padding-bottom: 94px;
}

.doing-list {
  display: flex;
  gap: 30px;
}

.doing-item {
  position: relative;
}

.doing-overlay {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doing-desc {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: var(--light-txt-color);
}

.doing-title {
  padding-bottom: 50px;
}

.doing-img {
  width: 370px;
  height: 294px;
}

.doing,
.benefits {
  background-color: var(--light-txt-color);
}

/* !D O I N G  E N D */
.team {
  background-color: var(--background-team);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team-item {
  background-color: var(--light-txt-color);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-item-img {
  width: 270px;
  height: 260px;
}

.team-item-desc {
  color: var(--desc-color);
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 16px;
}

.team-item-title {
  color: var(--titles-color);
  font-size: 16px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-item-list {
  padding-bottom: 30px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.team-item-link {
  padding: 12px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.team-icon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
}

.team-item-link:hover {
  background-color: var(--main-color);
}

.team-item-link:hover .team-icon {
  fill: var(--light-txt-color);
}

/* !T E A M  E N D */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  padding-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item-link {
  border: 1px solid;
  border-color: var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
}

.clients-item-icon {
  fill: var(--icon-color);
  width: 106px;
  height: 60px;
}

.clients-item-link:hover {
  border-color: var(--main-color);
}

.clients-item-link:hover .clients-item-icon {
  fill: var(--main-color);
}

.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.left-part-footer-wrapper {
  display: flex;
  gap: 70px;
}

.footer-container {
  display: flex;
  gap: 93px;
}

.footer-logo {
  color: var(--main-color);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
}

.footer-logo-span {
  color: var(--light-txt-color);
  font-family: var(--second-family);

  font-weight: 700;
  font-size: 26px;
}

.footer-address {
  padding-top: 20px;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 9px;
}

.footer-address-item {
  color: var(--light-txt-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer-address-link {
  color: var(--footer-text);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.footer-wrapper {
  padding-top: 12px;
}

.footer-list-title {
  color: var(--light-txt-color);
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 20px;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-link {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.footer-icon {
  fill: var(--light-txt-color);
  height: 20px;
  width: 20px;
}

.footer-link:hover {
  background-color: var(--main-color);
}

.footer-link:hover .footer-icon {
  fill: var(--light-txt-color);
}

.footer-form-wrapper {
  padding-top: 12px;
}

.footer-form-title {
  padding-bottom: 20px;
  color: var(--light-txt-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-form {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer-form-input {
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  background-color: transparent;
  width: 358px;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
}

.footer-form-button {
  background-color: var(--main-color);
  border: 0;
  border-radius: 4px;
  color: var(--light-txt-color);
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.06em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--font-family);
}

.footer-form-btn-icon {
  fill: var(--light-txt-color);
  width: 24px;
  height: 24px;
}

/* !P O R T F O L I O */

.control {
  padding-top: 94px;
  padding-bottom: 50px;
}

.control-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.control-button {
  background-color: var(--background-team);
  color: var(--titles-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-width: 0;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  font-family: var(--font-family);
}

.control-button:hover {
  background-color: var(--main-color);
  color: var(--light-txt-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

/* !A D V  S E C T I O N */

.advertisements {
  padding-bottom: 94px;
}

.advertisements-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.advertisements-item {
  background-color: var(--light-txt-color);
  text-align: start;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.advertisements-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.advertisements-overlay {
  position: absolute;
  opacity: 0;
  background-image: linear-gradient(to top,
      rgba(33, 150, 243, 0.9),
      rgba(33, 150, 243, 0.9));
  padding: 63px 24px;
}

.advertisements-desc {
  color: var(--light-txt-color);
  font-size: 18px;
  line-height: 28px;
}

.advertisements-item:hover .advertisements-overlay {
  opacity: 1;
}

.advertisements-title {
  color: var(--titles-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 36px;
  padding-top: 20px;
  padding-left: 24px;
}

.advertisements-subtitle {
  color: var(--desc-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.advertisements-item-container {
  border: 1px solid;
  border-color: var(--adv-item-border);
  border-top: 0;
}
