html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS for WebStudio Project */
/* VARIABLES START */
/* COLORS START */
:root {
  --color-brand: rgba(33, 150, 243, 1);
  --accent-color: rgba(0, 0, 0, 1);
  --secondary-color: rgba(117, 117, 117, 1);
  --titles-color: rgba(33, 33, 33, 1);
  --header-background: rgba(236, 236, 236, 1);
  --footer-bg: rgba(47, 48, 58, 1);
  --hero-bg: rgba(47, 48, 58, 0.4);
  --doing-desc: rgba(47, 48, 58, 0.8);
  --team-background: rgba(245, 244, 250, 1);
  --footer-text: rgba(255, 255, 255, 0.6);
  --about-us: rgba(255, 255, 255, 1);
  --item-border: rgba(238, 238, 238, 1);
  --article-before: rgba(245, 244, 250, 1);
  --team-shadow: rgba(0, 0, 0, 0.2);
  --modal-fon: rgba(0, 0, 0, 0.2);
  --modal-bg: rgba(255, 255, 255, 1);
  --client-item-border: rgba(175, 177, 184, 1);
  --button-shadow: rgba(0, 0, 0, 0.15);
}

/* COLORS END */
/* FONTS START */
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

/* FONTS END */
/* VARIABLES END */
/* COLORS TEST START */
body {
  background-color: var(--about-us);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid;
  border-bottom-color: rgb(238, 238, 238);
  padding-top: 24px;
  padding-bottom: 25px;
  letter-spacing: 0.02em;
}
.header-container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: rgb(33, 150, 243);
  padding-right: 93px;
  letter-spacing: 0.03em;
}
.header-span {
  color: rgb(33, 33, 33);
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__wraper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__link:hover {
  color: rgb(33, 150, 243);
  transition: all 0.25s;
}
.header__link {
  font-weight: 500;
  transition: all 0.25s;
  color: rgb(33, 33, 33);
  position: relative;
  display: block;
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: rgb(33, 150, 243);
  opacity: 0;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.header__link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
.header__info-list {
  padding-left: 0;
  display: flex;
  gap: 50px;
}
.header__info-link:hover {
  color: rgb(33, 150, 243);
  transition: all 0.25s;
}
.header__info-link {
  color: rgb(117, 117, 117);
  transition: all 0.25s;
}

/* DONE */
.hero {
  background: url("../images/mainpage/hero-bg.png") center/cover no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  /* Hero Modal */
}
.hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero__title {
  font-size: 44px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  line-height: 60px;
  text-transform: uppercase;
}
.hero__button {
  padding: 10px 32px;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  margin: 0 auto;
  border-width: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.hero .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.hero .no-scroll {
  overflow: hidden;
}
.hero .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
.hero .modal-title {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 12px;
}
.hero .modal-form {
  gap: 10px;
  padding-bottom: 20px;
}

.doing {
  padding-top: 94px;
  background-color: var(--about-us);
  padding-bottom: 94px;
}
.doing-container {
  flex-wrap: wrap;
  display: flex;
}
.doing__title {
  margin: 0 auto;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
}
.doing__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  position: relative;
}
.doing__img {
  width: 370px;
  height: 294px;
}
.doing__desc {
  text-align: center;
  text-wrap: nowrap;
  padding-block: 27px;
  background-color: var(--doing-desc);
  color: var(--about-us);
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 370px;
}

.details {
  padding-top: 94px;
}
.details__item::before {
  content: "";
  display: block;
  background-color: var(--article-before);
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  width: 270px;
  height: 120px;
}
.details__item:nth-child(1)::before {
  background-image: url(../images/mainpage/vector.png);
}
.details__item:nth-child(2)::before {
  background-image: url(../images/mainpage/clock.png);
}
.details__item:nth-child(3)::before {
  background-image: url(../images/mainpage/diagram.png);
}
.details__item:nth-child(4)::before {
  background-image: url(../images/mainpage/astronaut.png);
}
.details__img {
  padding-bottom: 56px;
}
.details__container {
  align-items: baseline;
  display: flex;
}
.details__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.details__article {
  padding-top: 30px;
}
.details__item {
  width: 270px;
}
.details__title {
  font-weight: 700;
  color: var(--titles-color);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.details__description {
  font-weight: 400;
  color: var(--secondary-color);
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.team {
  background-color: var(--team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  flex-wrap: wrap;
  display: flex;
}
.team__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--titles-color);
  text-align: center;
  padding-bottom: 50px;
  margin: 0 auto;
}
.team__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.team__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--about-us);
  width: 270px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px var(--team-shadow);
  border-left: 1px;
  border-right: 1px;
}
.team__img {
  width: 270px;
  height: 260px;
}
.team__name {
  font-weight: 500;
  color: var(--titles-color);
  padding-top: 30px;
  padding-bottom: 10px;
}
.team__role {
  color: var(--secondary-color);
  padding-bottom: 16px;
}
.team__medial-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}
.team__medial-item {
  padding: 12px;
  border-radius: 100%;
}
.team__medial-item:hover {
  background-color: var(--color-brand);
  color: var(--about-us);
}
.team__medial-link:hover .team-medial-icon {
  fill: #000;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-bottom: 50px;
}
.client__list {
  display: flex;
  gap: 30px;
}
.client__item {
  padding: 16px 32px;
  border: 1px solid var(--client-item-border);
  border-radius: 4px;
  width: 106px;
}
.client__icon {
  padding: 7px 32px;
}

.category {
  padding-top: 94px;
}
.category__list {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  gap: 8px;
}
.category__button {
  font-size: 16px;
  font-weight: 500;
  color: var(--titles-color);
  line-height: 26px;
  background-color: var(--team-background);
  border-width: 0;
  border-radius: 4px;
  padding-block: 6px;
  transition: all 0.25s;
  cursor: pointer;
}
.category__button:hover {
  color: var(--about-us);
  background-color: var(--color-brand);
  transition: all 0.25s;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.category__button {
  text-align: center;
  padding-right: 22px;
  padding-left: 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

/* PORTFOLIO SECTION START */
.portfolio {
  padding-top: 50px;
  padding-bottom: 94px;
}
.portfolio-container {
  display: flex;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.portfolio__item {
  flex-basis: 370px;
  height: 404px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  flex-direction: column;
  text-align: start;
  text-transform: capitalize;
  transition: all 0.25s;
}
.portfolio__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  transition: all 0.25s;
}
.portfolio__item:nth-child(n+7) {
  padding-bottom: 94px;
}
.portfolio__title {
  font-size: 18px;
  font-weight: 700;
  color: rgb(33, 33, 33);
  line-height: 36px;
  padding-top: 20px;
  padding-left: 24px;
}
.portfolio__subtitle {
  color: rgb(117, 117, 117);
  line-height: 30px;
  padding-top: 4px;
  padding-left: 24px;
}
.portfolio__image {
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: auto;
  padding: 15px;
  transform: translateX(-100%);
  transition: transform 250ms ease;
}
.portfolio__image:hover .portfolio-overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.footer {
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-brand);
  font-family: var(--secondary-font);
  padding-bottom: 20px;
}
.footer__logo-span {
  font-size: 26px;
  font-weight: 700;
  color: var(--about-us);
  font-family: var(--secondary-font);
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-bottom: 60px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  font-style: normal;
}
.footer__item {
  font-weight: 400;
  color: var(--about-us);
  line-height: 24px;
  padding-top: 9px;
}
.footer__link {
  font-weight: 400;
  color: var(--footer-text);
  line-height: 24px;
}
.footer__contacts {
  display: flex;
}

/* if you reade his text, its work*/
