:root {
    --primary: #2196f3;
    --hover-color: #64b5f6;
    --button: #1976d2;
    --header-bg: #2d2d2d;
    --worker-bg: #F5F4FA;
    --surface-alt: #e0e0e0;
    --footer-bg: #2F303A;
}
