:root {
    --accent-color: #2196F3;
    --logo-color: #000000;
    --title-color: #FFFFFF;
    --desk-color: #757575;
    --color: #212121;
    --background-color1: #F5F4FA;
    --background-color: #2F303A;
    --main-font: "Raleway" , "sans-serif";
    --second-font: "Roboto" , "sans-serif";
}

 body {
     color: #757575;
     background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
 }
